name: Emscripten
on: [push]
jobs:
  build-and-test:
      runs-on: ubuntu-latest
      container:
        image: ghcr.io/johnhues/aether-build:latest
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      steps:
      - uses: actions/checkout@v4
      - name: Create Build Directory
        run: cmake -E make_directory build
      - name: Configure
        run: source /opt/emsdk/emsdk_env.sh && emcmake cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DAE_LEAN_AND_MEAN=OFF
      - name: Build
        run: source /opt/emsdk/emsdk_env.sh && emmake make -C build all -j$(nproc)
      - name: Test
        run: node build/test/test.js
