name: Emscripten
on: [push]
jobs:
  build-and-test:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Install Packages
        run: |
          sudo apt update -qq
          sudo apt install -y --no-install-recommends ca-certificates gpg wget nodejs
          test -f /usr/share/doc/kitware-archive-keyring/copyright || wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | sudo tee /usr/share/keyrings/kitware-archive-keyring.gpg >/dev/null
          echo 'deb [signed-by=/usr/share/keyrings/kitware-archive-keyring.gpg] https://apt.kitware.com/ubuntu/ noble main' | sudo tee /etc/apt/sources.list.d/kitware.list >/dev/null
          sudo apt update -qq
          test -f /usr/share/doc/kitware-archive-keyring/copyright || sudo rm /usr/share/keyrings/kitware-archive-keyring.gpg
          sudo apt install -y --no-install-recommends kitware-archive-keyring cmake
      - name: Install Emscripten SDK
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          emsdk/emsdk install latest
          emsdk/emsdk activate latest
      - name: Create Build Directory
        run: cmake -E make_directory build
      - name: Configure
        run: export EMSDK_QUIET=1 && source emsdk/emsdk_env.sh && emcmake cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DAE_LEAN_AND_MEAN=OFF
      - name: Build
        run: export EMSDK_QUIET=1 && source emsdk/emsdk_env.sh && emmake make -C build all -j$(nproc)
      - name: Test
        run: node build/test/test.js
